<div th:fragment="sidebar" class="pb-sidebar">
    <div class="about panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新闻动态</h3>
        </div>
        <div class="panel-body">
            <ol class="article-list">
                <li th:each="item,temp:${@module.get('allNewsList')}"  class="slide">
                    <span th:class="${'li-icon li-icon-'+(temp.index+1)}" th:text="${temp.index+1}"></span>
                    <a style="width: 260px" th:text="${item.title}" th:href="${'/news/'+item.id}"></a>
                </li>
            </ol>
        </div>
    </div>
</div>

