<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="项目公示"></title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/font-icon/icon.css}"/>
    <link rel="stylesheet" th:href="@{/css/web-common.css}" />
    <link rel="stylesheet" th:href="@{/css/web.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/hc-sticky.js}"></script>
    <script th:src="@{/js/core.js}"></script>
    <script th:src="@{/js/web.js}"></script>
</head>
<body>
<header id="header">
    <div th:replace="common/navbar :: navbar"></div>
</header>
<div class="pb-container pb-content">
    <div class="pb-news">
        <div class="about panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">企业项目公示</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>项目名称</th>
                        <th>企业名称</th>
                        <th>类型</th>
                        <th>区域</th>
                        <th>开工时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,temp:${@module.get('projectList')}">
                        <td th:text="${temp.index+1}"></td>
                        <td>
                            <a th:text="${item.projectName}" th:href="${'/project/'+item.id}"></a>
                        </td>
                        <td>
                            <a th:text="${item.enterpriseName}" th:href="${'/project/'+item.id}"></a>
                        </td>
                        <td th:if="${item.projectType == 0}" th:text="设计类"></td>
                        <td th:if="${item.projectType == 1}" th:text="施工类"></td>
                        <td th:if="${item.projectType == 2}" th:text="管护类"></td>
                        <td th:if="${item.projectType == 3}" th:text="监理类"></td>
                        <td th:text="${item.region}"></td>
                        <td th:text="${#dates.format(item.startDate,'yyyy-MM-dd')}"></td>
                        <td th:text="${item.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer :: copyrightLight"></div>
<div class="return_top"><a class=" fa fa-arrow-up"></a></div>
</body>

</html>
